@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.comment mark {
  background-color: #000; /* Set the background color to black */
  color: #000; /* Set the text color to black */
  display: inline-block; /* Display as an inline block */
  border-radius: 0.2em; /* Apply rounded corners */
  pointer-events: none;
  user-select: none;
}

.comments-title[open] #open.icon {
  display: inline-block;
}
.comments-title[open] #closed.icon {
  display: none;
}
.comments-title:not([open]) #open.icon {
  display: none;
}
.comments-title:not([open]) #closed.icon {
  display: inline-block;
}

.comments-title[open] {
  margin-bottom: 2rem;
}

.homepage-hero-image{
  filter: invert(15%);
}

body {
  background: radial-gradient(circle farthest-corner at 100% 0%, #ff6378ff 0%, #ff63d3ff 50%, #ffd063ff 100%);background-blend-mode: color-dodge;
  background-blend-mode: color-dodge;
  animation: AnimationName 12s infinite alternate;
}

.paused {
  animation-play-state: paused;
}

@keyframes AnimationName {
  0%{background-position:0% 0%;background-size: 600% 600%}
  50%{
    background-position:68% 100%;background-size: 100% 100%;
  }
  100%{background-position:100% 0%;background-size: 600% 600%}
}

.stacked {
  display: grid;
  isolation: isolate;
  place-items: start center;
}
.stacked > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.half-circle-mask {
  mask-image: radial-gradient(ellipse 20% 100% at top, black, transparent);
}