@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.is-redacted {
  background-color: #000; /* Set the background color to black */
  color: #000; /* Set the text color to black */
  display: inline-block; /* Display as an inline block */
  border-radius: 0.2em; /* Apply rounded corners */
  pointer-events: none;
  user-select: none;
}

.gluten-family {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.comments-title[open] {
  margin-bottom: 2rem;
}

.homepage-hero-image{
  filter: invert(15%);
}
body {
  background: radial-gradient(circle farthest-corner at 100% 0%, #ff6378ff 0%, #ff63d3ff 50%, #ffd063ff 100%);background-blend-mode: color-dodge;
}